*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1{
    color: #00bb2d;
    text-align: center;
    background-color: black;
    padding: 20px;
    letter-spacing: 4px;
}

h2{
    color: #00bb2d;
    text-align: center;
    background-color: black;
    padding: 20px;
    letter-spacing: 4px;
}

h2::after{
    content: ""
}

p{
    text-align: center;
}

main {
    padding: 20px;
    align-items: center;
    justify-content: center;
    align-items: center;
    height: cover;
    background-color: black;
}

.galeria{
    width: cover;
    height: cover;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1, auto);
    padding: 20px;
    grid-gap: 20px;
    justify-content: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 50vh);
    grid-template-rows: repeat(2, 40vh);
    gap: 20px;
    justify-content: center;
}

.grid-container2 {
    display: grid;
    grid-template-columns: repeat(2, 60vh);
    grid-template-rows: repeat(1, 60vh);
    gap: 20px;
    justify-content: center;
}

.galeria2{
    width: 100%;
    height: auto;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1, auto);
    padding: 20px;
    grid-gap: 20px;
    text-align: center;
}

.item{
    border: 3px solid black;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.item1{
    background-color: grey;
    text-align: center;
    padding: 20px;
}

.item2{
    background-image: url(Multimedia/multimoto.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
}

nav {
    margin: 0 auto;
    padding: 0;
    background-color: gray;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 10px 20px;
    text-transform: capitalize;
    border-radius: 15px;
    margin: 5px;
    display: inline-block;
}

a {
    font-size: 8px;
    margin-bottom: 20px;
}

nav a:hover{
    transform: scale(0.9);
    background-color: white;
    transition: 0.5s;
    border-radius: 20px;
}

footer {
    padding: 20px;
    background-color: black;
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

::-webkit-scrollbar{
    background-color: #00bb2d;
}

::-webkit-scrollbar-thumb{
    background-color: black;
    border-radius: 10px;
    box-shadow: inset 0 0 5px white;
}

::-moz-scrollbar{
    background-color: #00bb2d;
}

::-moz-scrollbar-thumb{
    background-color: black;
    border-radius: 10px;
    box-shadow: inset 0 0 5px white;
}

::-ms-scrollbar{
    background-color: #00bb2d;
}

::-ms-scrollbar-thumb{
    background-color: black;
    border-radius: 10px;
    box-shadow: inset 0 0 5px white;
}

.item3{
    background-image: url(Multimedia/paquete.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.item4{
    background-image: url(Multimedia/motoCiudad.jpg);
    background-size: cover;
    background-position: center;
}

.item5{
    background-image: url(Multimedia/motoReloj.jpg);
    background-size: cover;
    background-position: center;
}

.item6{
    background-image: url(Multimedia/mercadoEnvios.jpg);
    background-size: cover;
    background-position: center;
}

.item7{
    background-image: url(Multimedia/gba.jpg);
    background-size: cover;
    background-position: center;
}

.item8{
    background-image: url(Multimedia/multimoto.png);
    background-size: cover;
    background-position: center;
}


@media only screen and (max-width: 320px) {

    .galeria{
        grid-template-columns: 1fr 1fr;
    }

    nav{
        background-color: black;
        width: 100vh;
    }

    nav a {
        margin-right: 5px;
        text-decoration: none;
        color: white;
        background-color: grey;
        padding: 5px 5px;
        text-transform: capitalize;
        border-radius: 15px;
        display: grid;
        place-items: center;
    }
    
    a {
        font-size: 4px;
        text-decoration: none;
    }

    a:hover{
        color: #00bb2d;
    }

    footer {
        width: 100vh;
    }

    footer div a{
        font-size: 6px;
        display: grid;
        place-items: center;
    }

    footer div i{
        font-size: 8px;
    }

    header{
        font-size: 8px;
        width: 100vh;
    }

    h2 {
        font-size: 8px;
    }

    main {
        width: 100vh;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(1, 50vh);
        grid-template-rows: repeat(4, 40vh);
        gap: 20px;
        justify-content: center;
    }
    
    .grid-container2 {
        display: grid;
        grid-template-columns: repeat(1, 60vh);
        grid-template-rows: repeat(2, 60vh);
        gap: 20px;
        justify-content: center;
    }
}

@media only screen and (min-width:321px) and (max-width: 480px) {
    .galeria{
        grid-template-columns: 1fr 1fr;
    }

    nav{
        background-color: black;
        width: 100vh;
    }

    nav a {
        margin-right: 5px;
        text-decoration: none;
        color: white;
        background-color: grey;
        padding: 5px 5px;
        text-transform: capitalize;
        border-radius: 15px;
        display: grid;
        place-items: center;
    }
    
    a {
        font-size: 12px;
        text-decoration: none;
    }

    a:hover{
        color: #00bb2d;
    }

    footer {
        width: 100vh;
    }

    footer div a{
        font-size: 13px;
        display: grid;
        place-items: center;
    }

    footer div i{
        font-size: 10px;
    }

    header{
        font-size: 12px;
        width: 100vh;
    }

    h2{
        font-size: 12px;
    }

    main {
        width: 100vh;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(1, 50vh);
        grid-template-rows: repeat(4, 40vh);
        gap: 20px;
        justify-content: center;
    }
    
    .grid-container2 {
        display: grid;
        grid-template-columns: repeat(1, 60vh);
        grid-template-rows: repeat(2, 60vh);
        gap: 20px;
        justify-content: center;
    }
}



@media only screen and (min-width: 481px) and (max-width: 768px){
    .galeria{
        grid-template-rows: 1fr 1fr;
    }

    nav a {
        margin-right: 5px;
        text-decoration: none;
        color: white;
        background-color: grey;
        padding: 5px 5px;
        text-transform: capitalize;
        border-radius: 15px;
        display: grid;
        place-items: center;
    }
    
    a {
        font-size: 18px;
        text-decoration: none;
    }

    a:hover{
        color: #00bb2d;
    }


    footer div a{
        font-size: 18px;
        display:inline;
    }

    footer div i{
        font-size: 16px;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 22;
    }

    p{
        font-size: 22;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(1, 80vh);
        grid-template-rows: repeat(4, 40vh);
        gap: 20px;
        justify-content: center;
    }
    
    .grid-container2 {
        display: grid;
        grid-template-columns: repeat(1, 80vh);
        grid-template-rows: repeat(2, 60vh);
        gap: 20px;
        justify-content: center;
    }
    
}

@media only screen and (min-width: 769px) and (max-width: 1024px){
    .galeria{
        grid-template-rows: 1fr 1fr;
    }

    nav {
        background-color: grey;
    }

    nav a {
        margin-right: 15px;
        text-decoration: none;
        color: white;
        background-color: black;
        padding: 10px 20px;
        text-transform: capitalize;
        border-radius: 15px;
        display:inline;
    }
    
    a{
        font-size: 11px;
        text-decoration: none;
    }

    a:hover{
        color: #00bb2d;
    }

    footer div a{
        font-size: 30px;
        display:inline;
    }

    footer div i{
        font-size: 24px;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 34px;
    }

    p{
        font-size: 34px;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 50vh);
        grid-template-rows: repeat(2, 40vh);
        gap: 20px;
        justify-content: center;
    }
    
    .grid-container2 {
        display: grid;
        grid-template-columns: repeat(2, 60vh);
        grid-template-rows: repeat(1, 60vh);
        gap: 20px;
        justify-content: center;
    }
}

@media only screen and (min-width: 1025px){
    .galeria{
        grid-template-rows: auto auto;
    }

    nav {
        background-color: grey;
    }

    nav a {
        margin-right: 15px;
        text-decoration: none;
        color: white;
        background-color: black;
        padding: 10px 20px;
        text-transform: capitalize;
        border-radius: 15px;
        display:inline;
    }
    
    a{
        font-size: 20px;
        text-decoration: none;
    }

    a:hover{
        color: #00bb2d;
    }

    footer div a{
        font-size: 30px;
        display:inline;
    }

    footer div i{
        font-size: 24px;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 34px;
    }

    p{
        font-size: 34px;
    }
}